body{
    margin: 0;
}

#contenido {
    margin: 0 auto;
    width: 80%;
}

.otra{
    background-color: black;
    color: aliceblue;
}
.otra2{
    background-color: darkmagenta;
    color: aliceblue;
}
.menubar{
    display: flex;
    background-color: cornflowerblue;   
}
.pills{
    padding: 1%;
}